#madrone-header-container,
#madrone-header-container .header-search-block-form {
  background-color: #000 !important;
}

#madrone-header-container,
#madrone-header-container .border-neutral-200 {
  border-color: #666 !important;
}

#madrone-header-container {
  border-top: 6px solid #d73f09 !important;
}

.header-search-block-form input[type=search].form-control, .header-search-block-form input[type=search].form-control:focus {
  background-color: #000 !important;
  color: #fff !important;
}
.header-search-block-form input[type=search].form-control::placeholder {
  color: #ccc !important;
}

#madrone-primary-menu-container,
#madrone-primary-menu-container ul,
#madrone-primary-menu-container li,
.block-superfish,
.block-superfish ul,
.block-superfish li,
.block-group-content-menu,
.block-group-content-menu ul,
.block-group-content-menu li {
  background-color: #2e2b2a !important;
}
#madrone-primary-menu-container a,
#madrone-primary-menu-container span,
#madrone-primary-menu-container a.nav-link,
#madrone-primary-menu-container span.nav-link,
.block-superfish a,
.block-superfish span,
.block-superfish a.nav-link,
.block-superfish span.nav-link,
.block-group-content-menu a,
.block-group-content-menu span,
.block-group-content-menu a.nav-link,
.block-group-content-menu span.nav-link {
  background-color: transparent !important;
  color: #fff !important;
  font-family: "Stratum2Web", serif !important;
  --bs-nav-link-padding-y: 0.4rem;
  padding-top: 0.4rem !important;
  padding-bottom: 0.4rem !important;
}
#madrone-primary-menu-container a:hover,
#madrone-primary-menu-container span:hover,
#madrone-primary-menu-container a.nav-link:hover,
#madrone-primary-menu-container span.nav-link:hover,
#madrone-primary-menu-container .menuparent:hover > a,
#madrone-primary-menu-container .group-menu-hover > a,
#madrone-primary-menu-container .group-menu-hover > span,
#madrone-primary-menu-container .group-menu-hover > ul,
.block-superfish a:hover,
.block-superfish span:hover,
.block-superfish a.nav-link:hover,
.block-superfish span.nav-link:hover,
.block-superfish .menuparent:hover > a,
.block-superfish .group-menu-hover > a,
.block-superfish .group-menu-hover > span,
.block-superfish .group-menu-hover > ul,
.block-group-content-menu a:hover,
.block-group-content-menu span:hover,
.block-group-content-menu a.nav-link:hover,
.block-group-content-menu span.nav-link:hover,
.block-group-content-menu .menuparent:hover > a,
.block-group-content-menu .group-menu-hover > a,
.block-group-content-menu .group-menu-hover > span,
.block-group-content-menu .group-menu-hover > ul {
  background-color: #696361 !important;
  color: #fff !important;
}
#madrone-primary-menu-container .group-sub-menu > a::after,
#madrone-primary-menu-container .group-sub-menu > span::after,
.block-superfish .group-sub-menu > a::after,
.block-superfish .group-sub-menu > span::after,
.block-group-content-menu .group-sub-menu > a::after,
.block-group-content-menu .group-sub-menu > span::after {
  color: #fff !important;
}

#madrone-primary-menu-container a.sf-depth-1,
.block-superfish a.sf-depth-1,
#group-content-menu > li > a,
#group-content-menu > li > span {
  text-transform: uppercase !important;
}

.layout-container main[role=main] {
  width: 100%;
  max-width: 1320px;
  margin-inline: auto;
}

#madrone-breadcrumb-container {
  width: 100%;
  max-width: 1320px;
  margin-inline: auto;
}

@media (min-width: 1320px) {
  #madrone-header-container,
  #madrone-primary-menu-container,
  #madrone-highlighted-container,
  #madrone-footer-container {
    padding-inline: calc((100% - 1320px) / 2) !important;
  }
}
.cas-bg-osuorange {
  background-color: #d73f09;
}

.cas-bg-bucktoothwhite {
  background-color: #fff;
}

.cas-bg-trans-white {
  background-color: rgba(255, 255, 255, 0.75);
}

.cas-bg-black {
  background-color: #000;
}

.cas-bg-trans-black {
  background-color: rgba(0, 0, 0, 0.6);
}

.cas-bg-alert-red {
  background-color: #af292e;
}

.cas-bg-pine-400 {
  background-color: #4a773c;
}

.cas-bg-rogue-wave-400 {
  background-color: #00859b;
}

.cas-bg-luminance-400 {
  background-color: #ffb500;
}

.cas-bg-stratosphere {
  background-color: #006a8e;
}

.cas-bg-pine-200 {
  background-color: #c4d6a4;
}

.cas-bg-rogue-wave-200 {
  background-color: #b8dde1;
}

.cas-bg-candela {
  background-color: #fdd26e;
}

.cas-bg-moondust {
  background-color: #c6dae7;
}

.cas-bg-hop-bine {
  background-color: #aa9d2e;
}

.cas-bg-rogue-wave-600 {
  background-color: #0d5257;
}

.cas-bg-luminance-600 {
  background-color: #d3832b;
}

.cas-bg-stratosphere-600 {
  background-color: #003b5c;
}

.cas-bg-till {
  background-color: #b7a99a;
}

.cas-bg-coastline {
  background-color: #a7aca2;
}

.cas-bg-high-desert {
  background-color: #7a6855;
}

.cas-bg-crater {
  background-color: #8e9089;
}

.osu-card--picbox .picbox-container {
  position: relative;
}
.osu-card--picbox .picbox-item {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}
.osu-card--picbox .picbox-link {
  display: block;
  position: relative;
  text-decoration: none;
}
.osu-card--picbox .picbox-headline {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  margin: 0;
  padding: 0.5em;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  text-align: center;
}
.osu-card--picbox img {
  display: block;
  width: 100%;
  height: auto;
}

.block-system-branding-block .link-purpose-external-icon {
  display: none !important;
}

.block__content__site-name,
.block__content__site-name a,
.block__content__site-name span,
.block__content__site-name h1 {
  color: #fff !important;
  font-family: "Stratum2Web", serif !important;
  font-weight: 300 !important;
  text-transform: uppercase !important;
}

/*# sourceMappingURL=manzanita.css.map */
