$osu-orange: #d73f09;
$osucas-teal: #0d5257;
$osucas-blue: #003b5c;
$osucas-gray: #8e9089;
$osucas-red: #af292e;
$osucas-light-gray: #ddd;
$osucas-pinestand: #4a773c;
$osucas-hightide: #00859b;
$osucas-luminance: #ffb500;
$osucas-stratosphere: #006a8e;
$osucas-reindeermoss: #c4d6a4;
$osucas-seafoam: #b8dde1;
$osucas-candela: #fdd26e;
$osucas-moondust: #c6dae7;
$osucas-hopbine: #aa9d2e;
$osucas-roguewave: #0d5257;
$osucas-solarflare: #d3832b;
$osucas-starcanvas: #003b5c;
$osucas-till: #b7a99a;
$osucas-coastline: #a7aca2;
$osucas-highdesert: #7a6855;
$osucas-crater: #8e9089;
